:root {
  --bg-white: #fff;
  --text-main: #000;
  --text-white: #fff;
  --text-muted: #5c5c5c;
  --text-white-muted: #ddd;
  --fill-light: #f0f0f0;
  --fill-black: #000;
  --fill-white: #fff;
  --yellow: #f7df1e;
  --orange: #ddf163;
  --orange-40: #7e731266;
  --green: #28d979;
  --light-green: #28d97966;
  --dark-green: #149063;
  --font: 'Poppins', sans-serif;
  --gap: 20px;
  --gap-lg: 16px;
  --gap-md: 12px;
  --gap-xs: 6px;
  --pad-lg: 16px;
  --pad-md: 12px;
  --pad-sm: 8px;
  --pad-xs: 4px;
  --gap-sm: 8px;
  --cv-pad-inline: 20px;
  --cv-pad-block: 15px;
  --cv-inline-size: 595px;
  --rounded-xl: 40px;
  --rounded: 10px;
  --rounded-xs: 3px;
  --text-lg: 14px;
  --text-md: 12px;
  --text-sm: 10px;
  --text-xs: 8px;
  --text-xxs: 5px;
  --text-3xs: 2px;
  --focus-bg: #f7df1e;
  --focus-text: #000;
  --focus-green-0: #28d97999;
  --focus-green-50: #28d97980;
  --focus-green-100: #28d97900;
  --download-btn-size: 48px;
}

html {
  background-color: var(--bg-white);
  color: var(--text-main);
  font-weight: 400;
  line-height: 1.4;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0;
  font-family: var(--font);
}

.download-btn {
  position: fixed;
  z-index: 10;
  top: -6px;
  right: -6px;
  border: none;
  background-color: var(--light-green);
  block-size: var(--download-btn-size);
  border-bottom-left-radius: 20%;
  color: var(--text-white);
  cursor: pointer;
  inline-size: var(--download-btn-size);
  padding-block-start: var(--pad-sm);
  transition: transform 0.2s ease;
}

.download-btn:hover {
  transform: translateY(10%) translateX(-10%);
}

.cv {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin: 0 auto;
  gap: var(--gap);
  inline-size: var(--cv-inline-size);
  padding-block: var(--cv-pad-block);
  padding-inline: var(--cv-pad-inline);
}

.info {
  display: flex;
  gap: var(--gap);
}

.lang {
  flex: 2;
}

.ed {
  flex: 1;
}

.box {
  padding: var(--pad-md);
  border-radius: var(--rounded);
  background-color: var(--fill-light);
}

.pfp {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0;
  place-self: start center;
}

.pfp-wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
  block-size: 124px;
  inline-size: 124px;
}

.pfp__img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.name {
  flex: 1;
  padding: 0;
}

.creds {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--pad-md);
  block-size: 100%;
}

.creds__greet {
  display: flex;
  font-size: var(--text-sm);
  font-weight: 500;
}

.creds-inner {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.creds__name {
  display: flex;
  font-size: var(--text-lg);
}

.creds__prof {
  display: flex;
  color: var(--text-muted);
  font-size: var(--text-md);
}

.lang__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.lang__title {
  font-size: var(--text-lg);
}

.lang__list-wrapper {
  display: flex;
  gap: 17px;
}

.lang__list-inenr {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.lang__name {
  display: flex;
  font-size: var(--text-sm);
}

.lang__item-bars {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: var(--text-sm);
  gap: var(--gap-xs);
}

.lang__item-bar {
  display: flex;
  overflow: hidden;
  flex-grow: 3;
  border-radius: var(--rounded-xs);
  background-color: var(--fill-light);
  block-size: 11px;
  inline-size: 100%;
}

.lang__item-bar-fill {
  display: flex;
  height: 100%;
  border-radius: var(--rounded-xs);
  background-color: var(--green);
}

.lang__item-bar_full {
  width: 100%;
}

.lang__item-bar_type-semi-full-a {
  width: 78%;
}

.lang__item-bar_type-semi-full-b {
  width: 68%;
}

.education-section {
  display: flex;
  gap: var(--gap);
}

.education {
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded);
  background-color: var(--fill-light);
}

.education-inner {
  display: flex;
  flex-direction: column;
  padding: var(--pad-md);
  gap: var(--gap-lg);
}

.education-title {
  font-size: var(--text-lg);
}

.education__list {
  display: grid;
  align-items: start;
  gap: var(--gap-md) var(--gap-lg);
  grid-template-columns: repeat(2, 1fr);
}

.education__item {
  position: relative;
  display: flex;
  flex: 0 0 calc(50% - var(--gap-lg) / 2);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--pad-sm);
  border-radius: var(--rounded);
  background-color: var(--fill-white);
  gap: var(--gap-sm);
  line-height: 1.5;
}

.education__icon {
  position: absolute;
  display: block;
  inset-block-start: 6px;
  inset-inline-end: 6px;
}

.education__year {
  font-size: var(--text-sm);
  font-weight: 600;
}

.education__title {
  color: var(--text-main);
  font-size: var(--text-sm);
  font-weight: 600;
}

.education__tags {
  color: var(--dark-green);
  font-size: var(--text-xs);
}

.education__school {
  font-size: var(--text-xs);
}

.education_highlighted {
  background-color: var(--green);
  color: var(--text-white);
}

.interests {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}

.interests__header {
  display: flex;
  flex-direction: column;
  padding: var(--pad-md);
  border-radius: var(--rounded);
  background-color: var(--fill-light);
  gap: var(--gap-lg);
}

.interests__title {
  font-size: var(--text-lg);
}

.interests__tags {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text-sm);
  font-weight: 400;
  gap: var(--gap-sm);
}

.interests__tag {
  display: inline-flex;
  border-radius: var(--rounded-xl);
  background-color: var(--fill-white);
  line-height: 1.5;
  padding-block: var(--pad-xs);
  padding-inline: 10px;
}

.contacts {
  display: flex;
  min-height: 92px;
  flex-direction: column;
  border-radius: var(--rounded);
  margin-top: auto;
  background-color: var(--fill-black);
  color: var(--text-white);
  gap: 12px;
  padding-block: var(--pad-sm);
  padding-inline: var(--pad-md);
}

.contacts__title {
  font-size: var(--text-lg);
}

.contacts__info {
  display: flex;
  color: var(--text-white-muted);
  font-size: var(--text-sm);
  gap: var(--gap-xs);
  line-height: 1.5;
}

.contacts__email {
  color: var(--text-white);
}

.tools-section {
  display: flex;
  gap: var(--gap);
}

.tools {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: var(--rounded);
  background-color: var(--fill-light);
  gap: var(--gap-md);
  max-inline-size: 124px;
  padding-block: var(--pad-md);
}

.tools__title {
  display: flex;
  font-size: var(--text-lg);
  padding-inline: var(--pad-md);
}

.tools-inner {
  display: flex;
  flex-direction: column;
  padding: var(--pad-md);
  gap: var(--gap-lg);
}

.tools__wrapper {
  padding-inline: calc(2 * var(--pad-md));
}

.tools__container {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: var(--rounded);
  background-color: var(--fill-white);
  padding-block: var(--pad-sm) var(--pad-xs);
}

.tools__subtitle {
  position: absolute;
  top: -5.5px;
  left: 50%;
  display: inline-flex;
  overflow: hidden;
  border-radius: var(--rounded-xl);
  background-color: var(--fill-black);
  color: var(--text-white);
  font-size: var(--text-xxs);
  max-inline-size: 100%;
  padding-block: 2px;
  padding-inline: 6px;
  text-overflow: ellipsis;
  transform: translateX(-50%);
  white-space: nowrap;
}

.tools__list {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: var(--gap-lg);
  padding-block: var(--pad-sm) var(--pad-md);
  padding-inline: var(--pad-sm);
}

.tools__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: calc(50% - var(--gap-lg) / 2);
}

.exp {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: var(--pad-md);
  border-radius: var(--rounded);
  background-color: var(--fill-light);
  gap: var(--gap-lg);
}

.exp__item-badge {
  position: absolute;
  right: 0;
  display: inline-flex;
  border-radius: var(--rounded-xl);
  background-color: var(--orange-40);
  color: var(--orange);
  font-size: var(--text-xs);
  padding-block: 2px;
  padding-inline: 6px;
  transform: translate(-10%, 10%);
}

.exp__title {
  font-size: var(--text-lg);
  font-weight: 600;
}

.exp__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--pad-sm);
  border-radius: var(--rounded);
  background-color: var(--fill-white);
  font-size: var(--text-xs);
  gap: var(--gap-lg);
}

.exp__item-title {
  font-size: var(--text-sm);
}

.exp__item-content {
  display: flex;
  gap: var(--gap-sm);
}

.exp__item-content-inner {
  min-inline-size: 124px;
}

.exp__item-achievements {
  list-style: disc;
  padding-inline-start: var(--pad-lg);
}

.exp__item-achievement {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.exp_highlighted {
  background-color: var(--green);
  color: var(--text-white);
}

[contenteditable] {
  display: inline-block;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

[contenteditable]:focus {
  border-radius: var(--rounded-xs);
  background-color: var(--light-green);
  box-shadow: 0 0 6px 2px var(--light-green);
  cursor: text;
  outline: none;
  transition:
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

.education_highlighted[contenteditable]:focus,
.focused[contenteditable]:focus,
.exp_highlighted[contenteditable]:focus {
  background-color: var(--focus-bg);
  box-shadow: 0 0 6px 2px var(--focus-bg);
  color: var(--focus-text);
}

@keyframes edit-focus {
  0% {
    box-shadow: 0 0 0 var(--focus-green-0);
  }

  50% {
    box-shadow: 0 0 10px var(--focus-green-50);
  }

  100% {
    box-shadow: 0 0 0 var(--focus-green-100);
  }
}

.edit-animated {
  border-radius: var(--rounded-xs);
  animation: edit-focus 0.6s ease-in-out;
}

@media (width <= 425px) {
  .info,
  .education-section,
  .tools-section {
    flex-direction: column;
  }

  .tools {
    max-inline-size: 100%;
  }

  .tools__list {
    justify-content: center;
  }

  .tools__item {
    inline-size: unset;
  }

  .cv {
    inline-size: 100%;
    padding-inline: var(--pad-md);
  }

  .education__list {
    grid-template-columns: 1fr;
  }
}
