:root {
  --bg-white: #fff;
  --text-main: #000;
  --text-muted: #5c5c5c;
  --fill-light: #f0f0f0;
  --yellow: #f7df1e;
  --green: #28d979;
  --font: "Poppins", sans-serif;
  --gap: 20px;
  --gap-lg: 16px;
  --gap-xs: 6px;
  --pad-md: 12px;
  --cv-pad-inline: 20px;
  --cv-pad-block: 15px;
  --cv-inline-size: 595px;
  --rounded: 10px;
  --text-sm: 10px;
  --text-md: 12px;
  --text-lg: 14px;
}

html {
  background-color: var(--bg-white);
  color: var(--text-main);
  font-weight: 400;
  line-height: 1.4;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0;
  font-family: var(--font);
}

/* layout */
.cv {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: var(--gap);
  inline-size: var(--cv-inline-size);
  padding-block: var(--cv-pad-block);
  padding-inline: var(--cv-pad-inline);
}

.info {
  display: flex;
  gap: var(--gap);

  /* max-inline-size: 100%; */
}

.pfp {
  flex: 1;
}

.name {
  flex: 1;
}

.lang {
  flex: 2;
}

.box {
  /* align-self: start; */
  padding: var(--pad-md);
  border-radius: var(--rounded);
  background-color: var(--fill-light);

  /* inset-block: 100%; */
}

/* /// */
.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  place-self: start center;
}

.pfp-wrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
  block-size: 124px;
  inline-size: 124px;
}

.pfp-img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

/* credentials */
.credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--pad-md);
}

.greetings {
  display: flex;
  font-size: var(--text-sm);
  font-weight: 500;
}

.name {
  display: flex;
  font-size: var(--text-lg);
}

.profession {
  display: flex;
  color: var(--text-muted);
  font-size: var(--text-md);
}

.lang__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.lang__title {
  font-size: var(--text-lg);
}

.lang__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.lang__item {
}

.lang__name {
  display: flex;
  font-size: var(--text-sm);
}

/* /// */

@media (width <= 400px) {
  .cv {
  }
}
